:root {
  --primary-color: #34495e;
  --secondary-color: #778ca3;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 30px auto;
  background-color: "#ecf0f1";
  color: var(--primary-color);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.button {
  float: right;
  margin: 5px;
}

button{
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
}

button:hover {
  color: white;
  transition: all 0.3s ease;
}

.navbar-toggler {
  margin: 1px;
  float: left;
}

#hamburgerMenu {
  display: none;
}

nav a{
  font-family:'Patua One', cursive;
  color: var(--secondary-color);
}

nav a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  color: white;
}

.bg-dark a {
  font-family:'Patua One', cursive;
  color: var(--secondary-color);
}

.bg-dark a:hover {
  font-family:'Patua One', cursive;
  transition: all 0.5s ease;
  color: white;
}

.navbar{
  background-color: var(--primary-color);
}

.bg-dark {
  background-color: var(--primary-color) !important;
}

.hamburgerOptions {
  padding-top: 30px;
}

.page-container {
  width: 100%;
  float: left;
  position: relative;
  background-color: white;
}

.content {
  width: auto;
  float: left;
  padding-top: 30px;
  margin: 60px;
  color: var(--primary-color);
  padding-bottom: 150px;
}
.blurb {
  width: auto;
  float: left;
}

.sidepanel {
  box-shadow: 0 5px 10px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.10);
  text-align: center;
  margin-top: 100px;
  margin-right: 50px;
  width: auto;
  background-color: #f1f2f6;
  color: var(--primary-color);
  float: right;
}

.sidepanel_text{
  padding-top: 80px;
  text-align: left;
  color: var(--primary-color);
  margin: 20px ;
}

.sidepanel_text ul{
  list-style:none;
  display: inline;
}

h2 ul, h3 ul {
  font-family:'Patua One', cursive;
  padding: 0px;
  list-style: none;
  /* font-weight: bold; */
}

h2 ul li, h3 ul li{
  display: inline;
  margin-right: 20px;
}

.content a {
  text-decoration: none;
}

.content a:hover {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.content a h3, .academics a{
  text-decoration: none;
  color: var(--secondary-color);
}

.content a h3:hover, .academics a:hover {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: var(--primary-color);
}
.content h1 {
  font-size: 1.7em;
  font-family:'Patua One', cursive;
  color: var(--primary-color);
}
.content h2 {
  font-family:'Patua One', cursive;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--primary-color);
  font-weight: normal;
}
.content h3 {
    font-family:'Patua One', cursive;
    font-size: 1em;
    line-height: 1.1em;
    color: var(--primary-color);
    font-weight: normal;
    vertical-align: middle;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color: var(--primary-color);
}

footer {
  width: 100%;
  background: var(--primary-color);
  position: absolute;
  height: auto;
  bottom: 0px;
  /* display: block; */
  /* font-size: .8em; */
  padding-top: 10px;
}

footer h3 {
  color: white;
  font-family: 'Patua One', cursive;
  font-size: 1em;
  margin: 20px 0 10px;
}

footer .two-column {
  overflow: hidden;
}

footer .two-column li, footer .two-column li a{
  width: 50%;
  float: left;
  padding: 2px 0;
  font-family: 'Patua One', cursive;
  font-size: 0.9em;
  color: var(--secondary-color);
}

footer .two-column li:hover, footer .two-column li a:hover {
  transition: all 0.3s ease-in-out;
  color: white;
  text-decoration: none;
}

footer .social-links {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .social-links li {
  float: left;
  margin: 3px;
  opacity: 0.5;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

footer .social-links li:hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.regular_text {
  text-align: justify;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  line-height: 1.7em;
  color: var(--primary-color);
}

.tag_text {
  font-family: 'Patua One', cursive;
  font-size: 0.9em;
  line-height: 1.7em;
  color: var(--primary-color);
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.experience ul li, {
  text-align: justify;
  font-family:'Patua One', cursive;
  font-size: 1em;
  line-height: 2em;
  color: var(--primary-color);
}

.academics ul li{
  font-family:'Patua One', cursive;
  font-size: 1em;
  line-height: 1.5em;
  color: var(--primary-color);
}

.content .experience .details ul li, .sidepanel_text ul li {
  text-align: justify;
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  line-height: 1.7em;
  color: var(--primary-color);
}

.image {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: -100px; /* Half the height */
  margin-left: -100px; /* Half the width */
  z-index: 998;
}
.image-overlay {
  position: absolute;
  opacity: 100%;
  z-index: 999;
  top: 0%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: -100px; /* Half the height */
  margin-left: -100px; /* Half the width */
}

.image-overlay:hover{
  transition: all 0.5s ease;
  opacity: 0%;
}

@media only screen and (max-width:767px) {
  /* For mobile phones: */
  .sidepanel {
    float: left;
  }
}
@media only screen and (max-width:575px) {
  /* For mobile phones: */
  .content {
    padding-bottom: 270px;
  }
}
@media only screen and (max-width:597px) {

  #hamburgerMenu {
    display: block;
  }

  #originalMenu {
    display: none;
  }
  #myBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}
@media only screen and (max-width:321px) {

  .image {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 998;
  }
  .image-overlay {
    position: absolute;
    opacity: 100%;
    z-index: 999;
    top: 0%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: -75px; /* Half the height */
    margin-left: -75px; /* Half the width */
  }

  #hamburgerMenu {
    display: block;
  }

  #originalMenu {
    display: none;
  }

  #myBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}

#myBtn {
  box-shadow: 0 5px 10px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.10);
  font-weight:bold;
  text-align: center;
  height: 44px;
  width: 44px;
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f1f2f6;
  color: var(--primary-color);
  cursor: pointer;
  padding: 10px;
  border-radius: 200px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: var(--primary-color);
  color: white;
}
