html {
  scroll-behavior: smooth;
}
body {
  margin: 60px auto;
  width: 80%;
}
.container {
  width: 100%;
  float: left;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 20px;
}
.blurb {
  width: 70%;
  float: left;
}

.sidepanel {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  background: #f1f2f6;
  float: right;
}

.sidepanel_text{
  text-align: left;
  margin: 20px;
}

nav ul, footer ul, h2 ul {
  font-family:'Patua One', cursive;
  padding: 0px;
  list-style: none;
  /* font-weight: bold; */
}
nav ul li, footer ul li, h2 ul li{
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  /* text-decoration: underline; */
  color: #333;
}
h1 {
  font-size: 2em;
  font-family:'Patua One', cursive;
}
h2 {
  font-family:'Patua One', cursive;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: normal;
}
h3 {
    font-family:'Patua One', cursive;
    font-size: 1em;
    line-height: 1.1em;
    font-weight: normal;
    vertical-align: middle;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #333;
}
footer {
  float: none;
  font-size: .8em;
}

.regular_text {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  line-height: 1.7em;
  color: #333;
}

.tag_text {
  font-family: 'Patua One', cursive;
  font-size: 0.9em;
  line-height: 1.7em;
  color: #333;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

.experience ul li, .academics ul li{
  font-family:'Patua One', cursive;
  font-size: 1em;
  line-height: 2em;
  color: #333;
}

.experience .details ul li, .sidepanel_text ul li {
  font-family: 'Roboto Slab', serif;
  font-size: 0.9em;
  line-height: 1.7em;
  color: #333;
}
